:root {
    --background: #fdc63e;
    --foreground: #d4851e;
  }
  html,
  body {
    margin: 0;
    color: var(--foreground);
    font-family: "Space Mono", monospace;
  }
  
  p {
    margin: 0;
  }
  
  main {
    background: var(--background);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  
  section {
    --spacing: 24px;
  
    width: 14ch;
    border: 3px solid var(--foreground);
    padding: calc(var(--spacing) / 2) var(--spacing);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
  }
  
  hr {
    border: 0;
    border-top: 3px solid var(--foreground);
    margin: calc(var(--spacing) / 2) calc((-1 * var(--spacing)) - 24px);
  }
  